- if like = current_user.liked(bookmark)
  = link_to raw("<i class=\"glyphicon glyphicon-heart\"></i>"), [bookmark, like], method: :delete
- else
  = link_to raw("<i class=\"glyphicon glyphicon-heart-empty\"></i>"), [bookmark, Like.new], method: :post
